@import url("./_active/header__lang-link_active.css");

.header__lang-link {
  font-size: 24px;
  line-height: 23px;
  text-decoration: none;
  color: white;
  margin-left: 18px;
}

.header__lang-link:hover {
  opacity: 0.8;  
}

@media screen and (max-width: 500px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1;
    position: relative;
    bottom: 5px;
  }
}