@import url("./__list/places__list.css");

.places {
  margin: 0 auto;
  max-width: 984px;
  width: 100%;
  box-sizing: border-box;
  padding: 92px 0 12px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
    padding: 92px 0 12px;
    box-sizing: border-box;
  }
}  

@media screen and (max-width: 953px) {
  .places {
    padding: 92px 24px 12px;
  }  
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    margin: 0;
  }
}  

@media screen and (max-width: 320px) {
  .places {
    max-width: 320px;
    padding-left: 0;
    padding-top: 0;
  }
}  