.place__image {
  width: 460px;
  height: 460px;
  margin-right: 40px;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 440px;
    height: 440px;
    margin-right: 36px;
  }
}  

@media screen and (max-width: 768px) {
  .place__image {
    width: 340px;
    height: 340px;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    margin-bottom: 8px;
    width: 320px;
    height: 320px;
  }
}    