@import url("./__caption/lead__caption.css");
@import url("./__image/lead__image.css");
@import url("./__subtitle/lead__subtitle.css");
@import url("./__title/lead__title.css");

.lead {
  display: flex;
  flex-direction: column;
  width: 100%; 
  max-width: 984px;
  margin: 0 auto;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding: 0;
  }
}
