@import url("./__caption/lead__caption.css");
@import url("./__image/lead__image.css");
@import url("./__subtitle/lead__subtitle.css");
@import url("./__title/lead__title.css");

.lead {
  display: flex;
  flex-direction: column;
  width: inherit;
  margin: 0 auto;
  align-items: center;
}

@media screen and (max-width: 1020px) {
  .lead {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
    box-sizing: inherit;
  }
}  

@media screen and (max-width: 320px) {
  .lead {
    width: 320px;
  }
}