.place__website__url-heading {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.2em;
  color: #AAAAAA;
  margin-bottom: 12px;
  height: 12px;
}

@media screen and (max-width: 768px) {
  .place__website__url-heading {
    font-size: 12px;
    line-height: 1;
  }
}