.place__website__url-heading {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.2em;
  color: #AAAAAA;
  padding: 30px 0 12px;
}

@media screen and (max-width: 768px) {
  .place__website__url-heading {
    font-size: 12px;
    line-height: 1;
    padding: 0 0 12px 0;
  }
}