@import url("./__link/header__link.css");
@import url("./__list/header__list.css");
@import url("./__logo/header__logo.css");

.header {
  display: flex;
  justify-content: space-between;
  padding: 34px 0 58px;
  align-self: start;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 36px 0 47px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 36px 0 47px;
  }
}   

@media screen and (max-width: 320px) {
  .header {
    padding: 24px 16px;
    width: 288px;
  }
}