@import url("./__lang-link/header__lang-link.css");
@import url("./__lang-list/header__lang-list.css");
@import url("./__logo/header__logo.css");

.header {
  display: flex;
  padding: 34px 148px 58px;
  justify-content: space-between;
  width: 984px;
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 36px 148px 47px;
    box-sizing: border-box;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 34px 48px 50px;
    width: 100%;
    box-sizing: border-box;
  }  
}  

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    padding: 24px 34px 50px;
    box-sizing: border-box;
  }
}   

@media screen and (max-width: 320px) {
  .header {
    padding: 24px 16px;
    box-sizing: border-box;
  }
}