.footer__copyright {
  font-size: 14px;
  line-height: 1.1;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .footer__copyright {
    margin: 0;
    margin-bottom: 24px;
  }
} 

@media screen and (max-width: 320px) {
  .footer__copyright {
    margin: 0;
    padding-bottom: 24px;
    padding-top: 16px;
  }
}  