.lead__image {
  padding-top: 64px;
  width: 100%;
  height: 615px;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    width: 928px;
    height: 580px;
    margin: 0;
    padding-top: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    width: 768px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    padding-top: 40px;
    width: 100%;
    height: auto;
  }
}    