@import url("./__list/intro__list.css");
@import url("./__text/intro__text.css");
@import url("./__title/intro__title.css");
@import url("./__list/intro__list.css");

.intro {
  padding: 92px 0;
  max-width: 984px;
  margin: auto;
  box-sizing: border-box;
  width: 100%;
} 

@media screen and (max-width: 1024px) {
  .intro {
    padding: 92px 48px;
    margin: 0;
  }
} 

@media screen and (max-width: 768px) {
  .intro {
    padding: 88px 24px;
  }
} 

@media screen and (max-width: 320px) {
  .intro {
    padding: 64px 16px 52px;
  }
}  