@import url("./__list/intro__list.css");
@import url("./__text/intro__text.css");
@import url("./__title/intro__title.css");
@import url("./__list__item_bold/intro__list__item_bold.css");

.intro {
  padding: 92px 0;
  width: 100%;
  margin: 0;
} 

@media screen and (max-width: 320px) {
  .intro {
    width: 90%;
    padding-top: 64px;
    margin-left: 16px;
  }
}  