.lead__caption {
  width: 183px;
  height: 14px;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding-top: 8px;
  margin: 0;
}


@media screen and (max-width: 997px) {
  .lead__caption {
    padding-left: 24px;
  }
}  

@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}  

