@import url("./__copyright/footer__copyright.css");
@import url("./__link/footer__link.css");
@import url("./__links/footer__links.css");

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 92px 0 24px;
  width: 100%;
  max-width: 1184px;
  font-size: 16px;
  line-height: 1.1;
}    

@media screen and (max-width: 1024px) {
  .footer {
    padding: 92px 48px 24px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 88px 24px 24px;
  }  
}

@media screen and (max-width: 600px) {
  .footer {
    font-size: 24px;
    line-height: 1;
    margin-top: 0;
    flex-direction: column;
    padding: 0 22px 0;
    box-sizing: border-box;
  }
}


@media screen and (max-width: 320px) {
  .footer {
    font-size: 24px;
    line-height: 1;
    margin-top: 0;
    flex-direction: column;
    padding-left: 16px;
    margin-right: 0px;
    box-sizing: border-box;
  }
}