@import url("./__two_lines/place__website__two_lines.css");
@import url("./__url-heading/place__website__url-heading.css");
@import url("./__link/place__website__link.css");

.place__website {
  list-style: none;
  padding: 0;
  grid-area:website;
}
@media screen and (max-width: 600px) {
  .place__website {
    width: 100%;
  }
}


@media screen and (max-width: 320px) {
   .place__website {
    display: none;
  }
}  